<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error <%= type %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet"> 
    <style>
        main{
            max-width: 500px;
            margin: 5rem auto;
            font-family: 'Lato', sans-serif;
        }.msg{
            background-color: #f8f8f8;
            padding: 1rem 2.5rem;
            border-radius: .3rem;
        }
        p{
            font-weight: 300;
        }
    </style>
</head>
<body>
    <main>
        <div class="msg">
            <h1>Error <%= type %> </h1>
            <p>Ex velit ullamco consectetur consectetur. Id excepteur ut id aliqua magna velit sunt. Sint do id laboris qui ex cillum consequat excepteur ipsum. Dolor pariatur culpa consequat enim ullamco cupidatat ullamco deserunt sit dolore ullamco. Ea velit velit aliquip occaecat mollit proident officia duis enim consequat culpa laborum tempor.</p>
        </div>
    </main>
</body>
</html>