<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rinku</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/main.css">
    <% if (url != null) { %>
        <style>
            .shape{top: -35% !important;}
        </style>
    <% } %>
</head>
<body>
    <%- include('./Headers/Nav.ejs') -%> 

    <main>
        <div class="data__info">
            <article>
                <h3>What's is Rinku.me?</h3>
                <span>
                    <i>Rinku.Me</i> is a free tool to shorten a URL or reduce a link
                    Use our URL Shortener to create a shortened link making it easy to remember
                </span>
            </article>
            <!-- <article>
                <h3>Create a free account to enjoy:</h3>
                <span>
                    <li>
                        Easy Link Shortening
                    </li>
                    <li>
                        Full Link History
                    </li>
                    <li>
                        Customized TinyURLs
                    </li>
                </span>
            </article> -->
            <article>
                <h3>How It Works</h3>
                <span>
                    A link shortener is a tool that transforms your long links into shorter ones. Our <i>Rinku URL Shorted™</i> tool can drastically shorten your long links and still reliably direct to the same web pages. To use our link shortener, the user only has to copy and paste their long link into our tool and we condense it into a more shareable link. 
                </span>
            </article>
            <article>
                <h3>Pages</h3>
                <span>
                    <i>Rinku.Me</i> is a free tool to shorten a URL or reduce a link
                    Use our URL Shortener to create a shortened link making it easy to remember
                </span>
            </article>
        </div>
        <div class="upload_user">
            <div class="grid_items"></div>
        </div>
    </main>

    <script>
        async function copy (ele) {
            await navigator.clipboard.writeText(ele);
            console.log(ele)
        }
    </script>
</body>
</html>