*, *::after, *::before {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  overflow-x: hidden;
}

header {
  position: relative;
  color: #ffffff;
  padding: 0 1rem;
}
header .shape {
  position: absolute;
  top: -15%;
  left: -5%;
  z-index: -1;
  height: 150%;
  transform: rotate(-1deg);
  width: 120%;
  background: #416556;
  background: linear-gradient(15deg, #416556 0%, #408669 50%, #45af83 100%);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0.5rem 1.5rem;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
header nav .logo__title {
  display: flex;
  align-items: center;
  font-size: 2.8em;
}
header nav .logo__title .icon_nav {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
header nav .logo__title .icon_nav:hover {
  color: #fafafa;
}
header nav .menu_list ul {
  display: flex;
  align-items: center;
}
header nav .menu_list ul li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  transition: opacity 0.1s ease-in-out;
  opacity: 0.6;
}
header nav .menu_list ul li a {
  display: block;
  color: #fff !important;
  font-size: 1.2em;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
}
header nav .menu_list ul li:last-child {
  background-color: #408669;
  border-radius: 0.3rem;
  opacity: 0.7;
  margin-left: 0.2rem;
}
header nav .menu_list ul li:last-child a {
  font-weight: 600;
  padding: 0.4rem 0.8rem;
}
header nav .menu_list ul li:hover {
  opacity: 1;
}
header .upload_form {
  max-width: 750px;
  margin: 0 auto;
}
header .upload_form h2 {
  font-size: 3.2em;
}
header .upload_form span {
  display: block;
  font-size: 1em;
  font-weight: 300;
}
header .upload_form form {
  display: grid;
  grid-template-columns: 1fr 6rem;
  width: 100%;
  margin-top: 2rem;
}
header .upload_form form input[type=url] {
  padding: 0.6rem 1.5rem;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  color: #333333;
  background-color: #fafafa;
  border-radius: 0.5rem 0 0 0.5rem;
}
header .upload_form form button {
  padding: 0.6rem 1rem;
  font-size: 1.3em;
  letter-spacing: 0.5px;
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 1px solid #c9c9c9;
  background-color: #fafafa;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.8078431373);
  cursor: pointer;
}
header .upload_form form button:hover {
  color: rgba(51, 51, 51, 0.9450980392);
}
header .upload_form .url__app {
  background-color: rgba(236, 236, 236, 0.0352941176);
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
}
header .upload_form .url__app .url_to_shorted {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed rgba(216, 216, 216, 0.5215686275);
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
}
header .upload_form .url__app .url_to_shorted .origin {
  font-weight: 600;
  margin-left: -1rem;
}
header .upload_form .url__app .url_to_shorted .pathname {
  color: #fafafa;
  text-decoration: none;
  position: relative;
  font-weight: 300;
}
header .upload_form .url__app .url_to_shorted:hover .pathname::before {
  position: absolute;
  content: "";
  background: #416556;
  height: 2px;
  left: 0.2rem;
  right: 0.1rem;
  bottom: -0.2rem;
}
header .upload_form .url__app .url_to_shorted button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  top: 0;
  height: 2em;
  margin: auto 0;
  right: 0.5rem;
  font-weight: 600;
  font-size: 0.7em;
  border-radius: 0.3rem;
  padding: 0.4rem 0.8rem;
  background-color: rgba(65, 101, 86, 0.3137254902);
  color: #c9c9c9;
  cursor: pointer;
}
header .upload_form .url__app .url_to_shorted button:hover {
  background-color: rgba(65, 101, 86, 0.4392156863);
}
header .upload_form .url__app .url_to_shorted button:active {
  background-color: rgba(65, 101, 86, 0.5647058824);
}
header .upload_form .url__app .url_to_shorted .danger {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 2em;
  margin: auto;
  left: 0.5rem;
  height: 28px;
  cursor: help;
}
header .upload_form .url__app .url_to_shorted .danger svg {
  margin: 4px;
  color: #DD6449;
}

main {
  margin-top: 10rem;
}
main .data__info {
  max-width: 700px;
  padding: 0 1rem;
  margin: auto;
}
main .data__info article {
  margin-bottom: 7rem;
}
main .data__info article h2 {
  text-align: center;
  margin-bottom: 2rem;
}
main .data__info article span, main .data__info article p {
  display: block;
  font-size: 1.3em;
  margin-top: 0.6rem;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-weight: 400;
}
main .data__info article ul {
  margin: 1rem 0;
  margin-left: 1rem;
}
main .data__info article ul li {
  display: list-item !important;
  list-style: inside decimal;
  margin: 0.3rem 0;
  font-weight: 400;
  font-size: 1.3em;
}

footer {
  display: flex;
  justify-content: center;
}
footer p {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 1rem 3rem;
}
footer p a {
  color: #DD6449 !important;
  text-decoration: none;
  font-weight: 600;
}

a {
  color: #333333;
}
a:hover {
  color: #DD6449;
}

hr {
  display: inline-block;
  border-left: 2px solid rgba(255, 255, 255, 0.1176470588);
  height: 30px;
  margin: 0 0.5rem;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1em;
}

@media only screen and (max-width: 1092px) {
  main {
    grid-template-columns: 1fr 30%;
    max-width: 800px;
  }
  main .grid_items {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=main.css.map */